div#glovy-ui {
    font-size: 0;
    font-family: "Arial", sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    z-index: 9999;
}

iframe#ng-glovy-iframe {
    border: 0;
    overflow:hidden;
}
