#overview {
  display: block;
  overflow-y: scroll;
  height: 80vh;
}

table {
  word-wrap: break-word;
  table-layout: fixed;
}

th {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 2;
}
