<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row p-3 bg-primary">
        <div class="col-6">
          <h3 class="text-white mb-0">Glovy</h3>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-primary btn-sm mr-2" title="Minimize" (click)="resize(false)"><span class="fas fa-window-minimize"></span></button>
          <button class="btn btn-primary btn-sm mr-2" title="Maximize" (click)="resize(true)"><span class="fas fa-window-maximize"></span></button>
          <button class="btn btn-danger btn-sm" title="Close" (click)="close()"><span class="fas fa-window-close"></span></button>
        </div>
      </div>
      <div class="row" *ngIf="maximized">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-muted">
                Intercepted HTTP ({{requests.length}})
              </h4>
              <div id="outgoing-requests-table-wrapper">
                <table class="table table-bordered table-hover table-striped table-sm">
                  <thead class="text-muted">
                  <tr>
                    <th class="text-center" style="width: 10%">#</th>
                    <th class="text-center" style="width: 30%">Origin</th>
                    <th class="text-center" style="width: 30%">Target</th>
                    <th class="text-center" style="width: 10%">Method</th>
                    <th class="text-center" style="width: 20%">Body</th>
                    <th class="text-center" style="width: 20%">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let request of requests;let i = index;">
                    <th class="text-truncate text-center">{{i}}</th>
                    <td class="text-truncate">{{request.origin}}</td>
                    <td class="text-truncate">{{request.target}}</td>
                    <td class="text-truncate text-center">{{request.method}}</td>
                    <td class="text-truncate">{{request.body}}</td>
                    <td>some actions</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
